/* pages/welcome/welcome.wxss */
.welcome{
  width: 100vw;
  height: 100vh;
  background: url(https://tencent-1258157820.cos.ap-guangzhou.myqcloud.com/uPic/welcome.jpeg) no-repeat;
  background-size:cover;
}